@import url("https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.tienne-regular {
  font-family: "Tienne", serif;
  font-weight: 400;
  font-style: normal;
}

.tienne-bold {
  font-family: "Tienne", serif;
  font-weight: 700;
  font-style: normal;
}

.tienne-black {
  font-family: "Tienne", serif;
  font-weight: 900;
  font-style: normal;
}

/* 

<div className="font-tienne">Custom Font Text</div>
<div className="font-tienne font-bold">Bold Custom Font Text</div>
<div className="font-tienne font-black">Black Custom Font Text</div>


*/

/* carousel image animation */

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.Carousel-animation {
  animation: grow-and-shrink 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/*  */

.Sector-card-animation {
  transform: perspective(1500px) rotateY(0deg);
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;
}

.Sector-card-animation :hover {
  transform: perspective(3000px) rotateY(20deg);
}

/* accordion background */
.bg-accordion{
  background-image: linear-gradient(to bottom, #04759a, #4696b2, #72b7ca, #9ed9e4, #cbfbff);
}
